.body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  margin: 150px 0px 0px 0px;
  padding: 0;
/*   width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
}

.container {
  max-width: 100%;
  align-content: center;
  margin-top: 40%;
  margin-left: 10%;
margin-right: 5%;
}
.container h1{
font-size: 30px;
font-weight: 600;
}
.contentHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top of each contentHome div */
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align:justify;
}


.contentHome:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.text-container {
  flex: 1;
  text-align: left;
  padding: 0; 
 
}
.text-container h1{
 font-size: 30px;
 color: #df9b09;
 font-weight: 500;
}
.text-container p{
  font-size: 20px;
  text-align: justify;
}
.image-container {
  flex-shrink: 0; /* Prevent image from growing beyond its intrinsic size */
  width: 100%; /* Adjust width as needed */
  text-align: center;
  margin-left: 20px; /* Add spacing between text and image */
}

.image-containerHome img {
  align-content:flex-end;
  padding-top: 30px;
  padding-left: 40px;
  max-width: 90%;
  height: 250px;
  border-radius: 8px;
}

.contentlast {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentlast p {
  text-align: justify;
}

h1, h2 {
  color: #333333;
}

h1 span {
  color: blue;
}

/* Media query for tablets and larger */
@media screen and (max-width: 768px) {
  .body{
    margin-left:-20px;}
  .contentHome { padding-right: 40px;
      flex-direction: column; /* Stack items vertically on smaller screens */
      
  }
  .container h1{
    font-size: 20px;
    font-weight: 600;
  }

  .image-containerHome {
      width: 100%; /* Make image container full width */
      margin-left: 0px; /* Remove margin on smaller screens */
      margin-top: -20px; /* Add space between paragraph and image */
  }
  .text-container{
    padding-top: 10px;
  }
.text-container h1{
  font-size: 18px;
  color: #df9b09;
  font-weight: 700;
 }
 .text-container p{
  font-size: 15px;
 }
}
/* Media query for Android devices */
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
     screen and (max-width: 768px) and (min-resolution: 1.5dppx) {
  
      .contentHome {
      flex-direction:column; /* Reverse the order: image below paragraph */
  }
  .text-container h1{  
    font-size: 15px;
    color: #df9b09;
    font-weight: 700;
   }
   .text-container p{
    font-size: 15px;
   }
  .image-containerHome {
      width: 100%; /* Make image container full width */
      margin-left: 0; /* Remove margin on smaller screens */
      margin-top: 20px; /* Add space between paragraph and image */
  }
}
